:root{
  --jc-padding:8px;
  --jc-border-radius:4px;
  --jc-active-color:rgb(255, 102, 0);
  --jc-active-background:rgb(68, 72, 78);

  --jc-item-title-width:60px;
  --jc-item-background:rgb(77, 79, 83);
  --jc-item-color:#fff;
  --jc-item-height:24px;
  --item-border-top:1px solid #777;
  --item-border-bottom:1px solid #333;
  
  --jc-control-background:rgb(87, 92, 102);  
  --jc-border:none;
}
.r-panel-item .icon{
  font-size:100%;
  margin:0 6px;
  margin-left:0;
}

.r-panel{
  position:fixed;
  display:flex;
  flex-direction: column;
  width:300px;
  left:0px;
  top:0px;
  height:100%;
  box-sizing:border-box;
  padding:6px;
  grid-template-columns:auto auto;
  background:rgb(97,100,105);
  box-shadow:1px 1px 9px 0px rgba(0,0,0,.7); 
  font-size:11px;
  color:#fff;
}
.r-panel-item{
  display:flex;
  position:relative;
  grid-template-columns:80px auto;
  background:var(--jc-item-background);
  border-bottom:var(--item-border-bottom);
  border-top:var(--item-border-top);
  justify-content: center;
  align-items:center;
  color:var(--jc-item-color);
  padding:var(--jc-padding);
  box-sizing:border-box;
  font-size:100%;
  width:fit-content;
  min-width:100%;
}

.r-panel-item-title{
  position: relative;
  display:flex;
  align-items:center;
  justify-content: flex-start;
  margin:0 var(--jc-padding);
  margin-left:0;
  color:inherit;
  font-size:100%;
  height:var(--jc-item-height);
  width:var(--jc-item-title-width);
}

.r-panel-control{
  flex:1;
  color:inherit;
  display:flex;
  align-items:center;
  font-size:100%;
  line-height:24px;
  border-radius:var(--jc-border-radius);
}
.r-panel-slider{
  height:var(--jc-item-height) !important;
  color:inherit;
}
.r-panel-slider-container{
  color:inherit;
}
.r-panel .r-slider-point{
  display:flex;
  align-items:center;
  justify-content: center;
  background:var(--jc-control-background);
  border-radius:var(--jc-border-radius);
  width:30px;
  height:20px;
}
.r-panel .r-slider-line{
  background:var(--jc-control-background);
  border-radius:3px;
}
.r-panel .r-slider-value{
  position: relative;
  top:unset;
  margin:0;
  left:unset;
  color:inherit;
  background:none;
  padding:0;
  align-items: center;
  width:unset;
  height:unset;
  font-size:100%;
}
.r-panel .r-slider-value:before{
  display:none;
}
.r-panel-slider .r-slider-space:nth-child(1) .r-slider-fill{
  background:var(--jc-active-color);
}

.r-panel-range-slider .r-slider-space:nth-child(1) .r-slider-fill{
  background:none;
}
.r-panel-range-slider .r-slider-space:nth-child(3) .r-slider-fill{
  background:var(--jc-active-color);
}
.r-panel-group-button{
  flex:1;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.r-panel-group-button button{
  font-size:100%;
  background:var(--jc-control-background);
  border:var(--jc-border);
  flex:1;
  color:inherit;
  border-right:1px solid var(--jc-item-background);
  height:var(--jc-item-height);
  line-height:var(--jc-item-height);
  overflow: hidden;
  cursor:pointer;
  text-align:center;
}
.r-panel-group-button button.active{
  color:var(--jc-active-color);
  background:var(--jc-active-background);
}
.r-panel-group-button button:first-child{
  border-radius:var(--jc-border-radius) 0px 0px var(--jc-border-radius);
}
.r-panel-group-button button:last-child{
  border-radius:0px var(--jc-border-radius) var(--jc-border-radius) 0px;
  border-right:none;
}
.r-panel-textbox{
  background:var(--jc-control-background);
  border:var(--jc-border);
  height:var(--jc-item-height); 
  padding:0 6px;
}
.r-panel-numberbox{
  text-align:center;
}
.r-panel-select{
  background:var(--jc-control-background);
  border:var(--jc-border);
  height:var(--jc-item-height);
  cursor:pointer;
}

.r-panel-checkbox{
  display:flex;
  align-items:center;
  height:var(--jc-control-height);
}
.r-panel-alert:before{
  position: relative;
  font-size:160%;
  width:24px;
  margin-right:8px;
  line-height:var(--jc-control-height);
  display:flex;
  justify-content:center;
}
.r-panel-alert.warning:before{
  content:' \26a0';
  color:yellow;
}
.r-panel-alert.info:before{
  content:' \2148';
  color:rgb(0, 204, 255);
}
.r-panel-alert.danger:before{
  content:' \2718';
  color:red;
}
.r-panel-header{
  position:relative;
  width:100%;
  padding:var(--jc-padding);
  padding-top:0;
  color:inherit;
  font-size:130%;
  display:flex;
  align-items:center;
  z-index:10;
  box-sizing:border-box;
  cursor:move;
}

.r-panel-title{
  flex:1; 

}
.r-panel-close{
  width:24px;
  height:var(--jc-item-height);
  display:flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}
.r-panel-close:after{
  content: ' \2716';
}
.r-panel-footer{
  color:inherit;
  font-size:100%;
  display:flex;
  align-items:center;
  padding:var(--jc-padding) 0;
  padding-bottom:0;
  z-index:10;
  position:relative;
}
.r-panel-footer button{
  border:var(--jc-border);
  margin:0 1px;
  flex:1;
  height:var(--jc-item-height);
  border-radius:var(--jc-border-radius);
  color:inherit;
  background:none;
  font-size:100%;
  cursor:pointer;
}

.r-panel-body{ 
  overflow-y:auto;
  flex:1;
  z-index:10;
  font-size:100%;
}
.r-panel-backdrop{
  position:fixed;
  width:100%;
  height:100%;
  left:0;
  top:0;
}

.r-panel-collapse{
  width:24px;
  height:var(--jc-item-height);
  display:flex;
  align-items:center;
  color:inherit;
  font-size:100%;
  justify-content: center;
}
.r-panel-collapse.closed:after{
  content:' \25BA';
}
.r-panel-collapse.opened:after{
  content:' \25BC';
}
.r-panel-group-name{
  flex:1;
  display:flex;
  align-items:center;
  font-size:100%;
  color:inherit;
  height:var(--jc-item-height);
}
.r-panel [disabled]{
  cursor:not-allowed;
}
