:root{
  --jc-item-height:20px;
  --item-border-top:1px solid #777;
  --item-border-bottom:1px solid #333;
}
.r-panel-item .icon{
  font-size:100%;
  margin:0 6px;
  margin-left:0;
}

.r-panel{
  position:fixed;
  display:flex;
  flex-direction: column;
  width:300px;
  left:0px;
  top:0px;
  height:60%;
  box-sizing:border-box;
  padding:0 6px;
  grid-template-columns:auto auto;
  background:rgb(76, 82, 90);
  box-shadow:1px 1px 9px 0px rgba(0,0,0,.7); 
  font-size:10px;
}
.r-panel-item{
  display:flex;
  position:relative;
  grid-template-columns:80px auto;
  border-bottom:var(--item-border-bottom);
  border-top:var(--item-border-top);
  justify-content: center;
  align-items:center;
  padding:8px;
  box-sizing:border-box;
  font-size:100%;
  width:fit-content;
  min-width:100%;
}

.r-panel-item-title{
  position: relative;
  display:flex;
  align-items:center;
  justify-content: flex-start;
  color:inherit;
  font-size:100%;
  height:var(--jc-item-height);
  width:60px;
}


.r-panel-control{
  flex:1;
  color:inherit;
  display:flex;
  align-items:center;
  font-size:100%;
  line-height:24px;
}
.r-panel .r-range-slider{
  height:20px; 
  color:inherit;
}
.r-panel .r-slider{
  padding:0 12px
}
.r-panel-slider-container{
  color:inherit;
}
.r-panel .r-slider-point{
  display:flex;
  align-items:center;
  justify-content: center;
  border-radius:0px;
  width:fit-content;
  padding:0 3px;
  height:20px;
}
.r-panel .r-slider-value{
  position: relative;
  top:unset;
  margin:0;
  left:unset;
  color:inherit;
  background:none;
  padding:0;
  align-items: center;
  width:unset;
  height:unset;
  font-size:100%;
}
.r-panel .r-slider-value:before{
  display:none;
}

.r-panel-group-button{
  flex:1;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.r-panel-group-button button{
  font-size:85%;
  border:none;
  margin:0 1px;
  color:inherit;
  height:var(--jc-item-height);
  overflow: hidden;
  cursor:pointer;
  text-align:center;
  
}
.r-panel-group-button button.active{
  outline:none;
}

.r-panel-textbox{
  border:none;
  height:var(--jc-item-height); 
  padding:0 6px;
  width:0;
}
.r-panel-numberbox{
  text-align:center;
  margin:0 1px;
}
.r-panel-select{
  border:none;
  height:var(--jc-item-height);
  cursor:pointer;
}

.r-panel-checkbox{
  display:flex;
  align-items:center;
}
.r-panel-checkbox .checkbox{
  width:12px;
  height:12px;
  border:2px solid;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:16px;
}
.r-panel-checkbox .checkbox.checked:after{
  content:' \2714';
  color:inherit;
}
.r-panel-alert{
  line-height:var(--jc-item-height);
}
.r-panel-alert:before{
  position: relative;
  font-size:160%;
  width:24px;
  margin-right:8px;
  display:flex;
  justify-content:center;
}
.r-panel-alert.warning:before{
  content:' \26a0';
  color:yellow;
}
.r-panel-alert.info:before{
  content:' \2148';
  color:rgb(0, 204, 255);
}
.r-panel-alert.danger:before{
  content:' \2718';
  color:red;
}
.r-panel-header{
  position:relative;
  width:100%;
  padding:8px;
  color:inherit;
  font-size:130%;
  display:flex;
  align-items:center;
  z-index:10;
  box-sizing:border-box;
  cursor:move;
}
.r-panel-title{
  flex:1; 
}
.r-panel-close{
  width:24px;
  height:var(--jc-item-height);
  display:flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}
.r-panel-close:after{
  content: ' \2716';
}
.r-panel-footer{
  color:inherit;
  font-size:100%;
  display:flex;
  align-items:center;
  padding-bottom:0;
  z-index:10;
  height:30px;
  position:relative;
}
.r-panel-footer button{
  border:none;
  height:24px;
  margin:0 1px;
  flex:1;
  color:inherit;
  background:none;
  font-size:100%;
  cursor:pointer;
}

.r-panel-body{ 
  overflow-y:auto;
  flex:1;
  z-index:10;
  font-size:100%;
  position:relative;
}
.r-panel-body-container{
  width:fit-content;
  height:100%;
  left:0;
  top:0;
  min-width:100%;
}
.r-panel-backdrop{
  position:fixed;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.r-panel-collapse{
  width:20px;
  height:var(--jc-item-height);
  display:flex;
  align-items:center;
  color:inherit;
  font-size:100%;
  justify-content: center;
}
.r-panel-collapse.closed:after{
  content:' \25BA';
}
.r-panel-collapse.opened:after{
  content:' \25BC';
}
.r-panel-group-name{
  flex:1;
  display:flex;
  align-items:center;
  font-size:100%;
  color:inherit;
  height:var(--jc-item-height);
}
.r-panel [disabled]{
  cursor:not-allowed;
}
.r-panel-color{
  height:var(--jc-item-height);
}
.r-panel input[type=color]{
  border:none;
  padding:0;
}

.r-panel-list{
  height:var(--jc-item-height)
}
